/* boilerplate */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* layout */

#product-choices {
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#product-choices img {
    width: 300px;
    height: auto;
}

/* product selection panache */

input[type=radio] {
    visibility: hidden;
}

input[type=radio]:checked + img {
    border: 2px solid red;
}