/* imports */

@import './typography.css';

/* boilerplate */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* background */

body {
    background-image: url('../assets/backgrounds/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 100px 1fr 100px / 100px 1fr 100px;
}

/* page wrapper */

.page-wrapper {
    background-color: white;
    grid-area: 2 / 2;
    display: grid;
}

header, main, footer {
    text-align: center;
    width: 90%;
    margin: auto;
}

/* header */

header h1 {
    margin-block-end: 0;
}

/* main */

/* footer */