.viz-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.chart-wrapper {
    height: 50%;
    width: 50%;
}

table {
    border-collapse: collapse;
    border: 1px solid #ffc2bb;
}

thead {
    background-color: #ffc2bb;
}

th, td {
    padding: 10px;
}