@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: 'Playfair Display';
}

body, label, button {
    font-family: 'Comfortaa';
}